    <h1>Lista de Planificaciones</h1>

    {% for exp in experimentos %}
        <table class="table">
            <thead>
            <tr>
                <th>Experimento</th>
                <th>Cortes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    exp
                </td>
                <td>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Descripcion</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for corte in exp.cortes %}
                            <tr>
                                <td>{% if corte.fecha %}{{ corte.fecha|date('d/m/Y') }}{% endif %}</td>
                                <td>{{ entity.descripcion }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    {% endfor %}